code/thirdparty/
INTERMEDIATE/
.hg/
code/engine/solutions/ipch/
exec/engine/shaders/d3d9/shadercache/
*.dds
*.pvr
*.sdf
*.hgignore
*.7z
exec/bin32/
code/Lib/
*.opensdf
*.gmf
exec/media/
*.exp
*.gpk
exec/builds/
code/engine/solutions/Tegra-Android/
exec/bin64/
*.atc
*.user
archive.zip
*.suo
*.pdb
