project/
build/
build-win64/
build-ios/
build-osx/
node_modules/
node_natives/build/
code/thirdparty/
INTERMEDIATE/
.hg/
code/.vs/
.DS_Store
code/engine/solutions/ipch/
exec/engine/shaders/d3d9/shadercache/
*.dds
*.pvr
*.sdf
*.hgignore
*.7z
exec/bin32/
code/Lib/
*.opensdf
*.gmf
exec/media/
*.exp
*.gpk
exec/builds/
code/engine/solutions/Tegra-Android/
exec/bin64/
*.atc
*.user
archive.zip
*.suo
*.pdb
thirdparty/
gkENGINE_CORE_Vc10.sln.cache
exec/ios/
code/editor/gkPak/gkPak.xcodeproj/xcuserdata/
code/editor/gkResourceCompiler/gkResourceCompiler.xcodeproj/xcuserdata/
code/engine/gkENGINE_CoreModule.xcodeproj/xcuserdata/
code/engine/gkLauncherMac.xcodeproj/xcuserdata/
code/engine/gkLauncherUniverse.xcodeproj/xcuserdata/
code/engine/gkTestApps/TestCases.xcodeproj/xcuserdata/
code/engine/solutions/gkENGINE_xcode.xcworkspace/xcuserdata/
code/gkENGINE_xcode.xcworkspace/xcuserdata/
code/gkENGINE_Tools.xcworkspace/xcuserdata/
exec/tools/gkPak.dSYM/
exec/tools/gkResourceCompiler.dSYM/
code/ipch/
code/gkENGINE_Vc14.VC.db
