[launcher]
;gamedll = gkGameDemo
gamedll = TestCases
testcase = TestCase_InDoorRendering

;renderer = gkRendererGLES2
;renderer = gkRendererGL330
renderer = gkRendererVulkan
;renderer = gkRendererD3D9

physicsengine = gkHavok
;physicsengine = gkPhysX

width = 1920
height = 1080

;stereodevice = gkOculus

