<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>gkCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>gkGameFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>gkGameObjectSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>gkInput.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>gkRendererGLES2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>gkSystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A02235A218895A84004B1475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A03FCC8A1732B9C700FFA4DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07D493D1786476D000F2DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A07D4AE11799AE0300C36005</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8B9F15BEC9990039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8BB215BEC9ED0039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8BC115BEC9F50039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8BD015BEC9FD0039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8BDF15BECA260039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF8A8BEE15BECA300039AACB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
